#menu-menu-principal li {
  @apply list-none;

  a {
    @apply md:text-18 md:leading-27 font-normal no-underline;
  }
  a:hover {
    @apply underline underline-offset-4;
  }
  a[aria-current="page"] {
    @apply md:text-19 font-600 tracking-wider no-underline;
  }

}

.menu-mobile li{
  a[aria-current="page"] {
    @apply text-28 font-600 tracking-wider;
  }
}

#slidemenu {
  position: fixed;
  top: 0;
  right: -300px; /* Esta es la posición inicial fuera de la pantalla */
  height: 100%;
  transition: left 0.3s; /* Transición para suavizar el movimiento */
}

.pri-menu{
  @apply md:mt-15;
}