#menu-menu-principal li {
  @apply list-none;

  a {
    @apply md:leading-27 font-normal no-underline;
  }
  a:hover {
    @apply underline underline-offset-4;
  }
  a[aria-current="page"] {
    @apply md:text-22 font-600 tracking-wider no-underline;
  }

}

.menu-mobile li{
  a[aria-current="page"] {
    @apply text-28 font-600 tracking-wider;
  }
}

#slidemenu {
  position: fixed;
  top: 0;
  right: -300px; 
  height: 100%;
  transition: left 0.3s; 
}

.pri-menu{
  @apply md:mt-15;
}

.fondo{
  background-color: rgba(67, 99, 99, 0.9)
}

.icono p svg{
  @apply md:w-25 md:h-25;
}