.bordes {

    // --tw-border-opacity: 0.5;
    // border-color: rgb(255 255 255 / var(--tw-border-opacity));
    // border-bottom-width:0.5px;
    @screen md {
        border-inline-end-width: 0.5px;
        border-bottom-style: none;
    }
}

// .padding{
//     @apply md:mx-0 mx-40;
// }

.bg-opacity-50 {
    --tw-bg-opacity: 0.5;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.scrolloverflow {
    overflow-y: scroll;
    height: 100vh;

    @screen md {
        height: 80vh;
    }
}

.topp {
    @apply md:top-352 top-260;
}

.preciaso {
    @apply opacity-0;
    transition: all 0.5s ease-in-out;
}

.btn-experiencia:hover+.preciaso {

    @apply opacity-100;

}