*, *::before,*::after{
    box-sizing: border-box;
}

*,body{
    @apply font-main font-light;
}

#wpadminbar{
    margin-top: -32px;

    @media screen and (max-width: 782px){
        margin-top: -46px;
    }
}

body{
    @apply text-white bg-black;
    background-size: 100%;
}

.wpml-ls-statics-footer{
    display:none;
}

.title-before{
    position: relative;

    &::after{
        content: "";
        @apply w-62 md:w-92 h-1 md:h-2 bg-white absolute left-o bottom-0 block;
    }
}

.c-scrollbar_thumb{
    @apply bg-white opacity-100;
}

.red{
    color: red !important;
}
.t-doc p span select{
    @apply md:h-66 h-43 text-black;
    color: black !important;
}