.text-chef p{
    @apply mb-20;
}

.timeline{
    @apply w-500 md:w-1970;

    .timeline__anio,
    .timeline__card,
    .indicator-circle{
        @apply transition linear duration-300;
    }
    
    .slick-slide{
        @apply cursor-pointer;
    }

    .indicator-line{
        width: 0;
        transition: width linear .5s;
    }

    & .slick-current{

        .indicator-circle{
            @apply bg-white;
        }

        .indicator-line{
            @apply w-130 md:w-281;
        }

        .opacity-50{
            @apply opacity-100;
        }

        .indicator-line.bg-lightblack{
            @apply bg-white;
        }
    }
}



.ani-opacity{
    animation: animationFade 2s linear;
}

@keyframes animationFade {
    0% {
      opacity: 0;
    }
    
    10% {
        opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
}